html,
body {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;
    color: rgb(124, 119, 119);
}

.wrapper {
    width: 700px;
    height: auto;
    box-shadow: 0px 0px 6px 2px grey;
    box-shadow: 0 1px 4px #ccc;
    border-radius: 8px;
    padding: 50px;
    background-color: #fff;
    margin-top: 30px;
    margin-bottom: 20px;
}

h1 {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 30px;
    font: 900 49px asap, arial;
    color: blue;
    letter-spacing: -1px;
    text-shadow: 0 2px 2px #ddd;
    word-wrap: break-word;
}

p {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: blue;
    font-weight: bolder;
    line-height: 0;
    font: bold 36px asap, arial;
    color: #505050;
    letter-spacing: -1px;
}

.input-field {
    height: 30px;
    width: 100%;
}

input[type="url"] {
    width: calc(100% - 2 * 10px);
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.btn {
    margin-top: 30px;
    /* background-color: blue; */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn1 {
    background-color: white;
    color: rgb(124, 119, 119);
    border: 2px solid blue;
}

.btn1:hover {
    background-color: blue;
    color: white;
}

.btn2 {
    background-color: white;
    color: rgb(124, 119, 119);
    border: 2px solid red;
}

.btn2:hover {
    background-color: red;
    color: white;
}

.shortened-urls {
    height: auto;
    width: 100%;
    margin-top: 20px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    background-color: aqua;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
}

ul li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    word-wrap: break-word;
    overflow: hidden;
}

ul li a:first-child {
    max-width: 300px;
}

.arrow {
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.footer {
    height: 50px;
    width: 100%;
    /* position: absolute;
    bottom: 0;
    left: 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer span {
    margin-left: 50px;
    margin-right: 50px;
}

a {
    text-decoration: none;
    color: rgb(124, 119, 119);
}

a:hover {
    color: rgb(70, 69, 69);
    text-decoration: underline;
}



















/****************************************STYLING SUSPENDED.php******************************************************/
